# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules
client/jsconfig.json
server/node_modules
/.pnp
/jsconfig.json
.pnp.js

# testing
/coverage

# misc
.DS_Store
client/.env.development
client/.env.production
server/config/.env.dev
server/config/.env.local
server/config/.env.production
client/pnpm-lock.yaml
server/pnpm-lock.yaml

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folder
client/build
