@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap");

body {
  font-family: "Nunito", sans-serif;
  background: rgb(233, 133, 174);
  background: linear-gradient(
    90deg,
    rgba(233, 133, 174, 1) 0%,
    rgba(167, 38, 188, 1) 100%
  );
}

.image-carousel {
  object-fit: cover;
  width: 100%;
  height: 800px;
}
